<div class="ui dropdown item icon">
  <div data-content="Peeps">
    <span> Peeps</span>
    <i class="triangle down icon"></i>
  </div>

  <div class="menu" style="width:140px">
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/ivan.jpg', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/ivan.jpg', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/ivan.jpg', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/ivan.jpg', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/ivan.jpg', width: '24') %> Username
    </a>
    <a href="mock/peeps/see-all" class="item">See All</a>
  </div>
</div>
