<div class="ui dropdown item icon">
  <div data-content="Peeps">
    <span> Peeps</span>
  </div>

  <div class="menu" style="width:140px">
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/user.png', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/user.png', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/user.png', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/user.png', width: '24') %> Username
    </a>
    <a href="#" class="item" id="user-details"> 
      <%= image_tag('demo/user.png', width: '24') %> Username
    </a>
    <a href="/mock/peeps/see-all" class="item more">See All</a>
  </div>
</div>
