<div class="ui fixed transparent main menu">
  <div class="container">
    <div id="logo" class="left item">
      <a href="/"><%= image_tag('logo.svg', height: '25') %></a>
    </div>

    <div class="left menu">
      <%= render partial: 'layouts/nav_partials/catalog'%>

      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>

    </div>

    <div class="right menu" ng-controller="AuthCtrl">
      <span ng-show="auth.isLoggedIn()">
        <%= render partial: 'layouts/nav_partials/wysh_lists' %>

        <%= render partial: 'layouts/nav_partials/events' %>

        <%= render partial: 'layouts/nav_partials/peeps' %>
      </span>

      <%= render partial: 'layouts/nav_partials/logged_in'%>

      <div class="item" ng-hide="auth.isLoggedIn()">
        <div>
          <a href="#" class="login-toggler">Login</a>
          or <a href="#" class="register-toggler">Register</a>
        </div>
        <%= render partial: 'layouts/nav_partials/login_modal' %>

        <%= render partial: 'layouts/nav_partials/registration_modal' %>
      </div>
      
      <%= render partial: 'layouts/nav_partials/add_event_modal' %>
    </div>
  </div>
</div>
