
<div class="ui fixed transparent main menu">
  <div class="container">
    <div id="logo" class="left item">
      <a href="/"><%= image_tag('logo.png', height: '20') %></a>
    </div>

    <div class="left menu">
      <%= render partial: 'layouts/nav_partials/category_dropdown'%>
    </div>

    <div class="right menu" ng-controller="AuthCtrl">
      <%= render partial: 'layouts/nav_partials/logged_in'%>
      <div class="item" ng-hide="auth.isLoggedIn()">
        <div>
          <a href="#" class="login-toggler">Login</a>
          or <a href="#" class="register-toggler">Register</a>
        </div>
        <%= render partial: 'layouts/nav_partials/login_modal' %>
      </div>

      <%= render partial: 'layouts/nav_partials/registration_modal' %>

      <div class="item icon" ng-show="auth.isLoggedIn()">
        <a href="#" id="wysh-list-toggler" class="tooltip" data-content="Your Wysh Lists">
          <i class="unordered list icon"></i>
        </a>
        
        <div id="wysh-list-brief" class="ui segment">
          <h3 class="ui dividing purple header">
            <i class="unordered list icon"></i> 
            Your Wysh Lists 
          </h3>
          <a href="#" class="new-wysh-list ui green tooltip" data-content="Create New List"><i class="add icon"></i></a>
          <h4 class="ui header">My List #1</h4>
          <div class="ui celled list">
            <div class="item">
              <%= image_tag("demo/Nextime-Old-fashioned-Turntable-Clock.jpg", :class => 'ui avatar image') %>
              <div class="content">
                <div class="header">Nextime Old-fashioned Turntable Clock</div>
                $88.61
              </div>
            </div>
            <div class="item">
              <%= image_tag("demo/238118e9dfa790712af9749c56c8ea16.jpg", :class => 'ui avatar image') %>
              <div class="content">
                <div class="header">As Tune As Possible Bag</div>
                $57.99
              </div>
            </div>
          </div> 
        </div>

        <div id="new-wysh-list-modal" class="ui modal" ng-controller="CategoriesCtrl">
          <i class="close icon"></i>

          <div class="header">
            Add new Wysh list
          </div>
          <div class="content">
            <div class="ui form">
              <div class="field">
                <label>Name</label>
                <div class="ui left input">
                  <input type="text" name="name" placeholder="">
                </div>
              </div>
              <div class="field">
                <label>Date</label>
                <div class="ui left input">
                  <input type="text" name="date">
                </div>
              </div>
              <div class="field">
                <label>Description</label>
                <div class="ui left input">
                  <textarea name="description"></textarea>
                </div>
              </div>

              <button class="ui blue submit button">Create</button>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item icon" ng-show="auth.isLoggedIn()">
        <a href="#" class="wysh-via-url tooltip" data-content="Add New Wysh via URL">
          <i class="add icon"></i>
        </a>

        <div id="wysh-via-url-modal" class="ui modal" ng-controller="CategoriesCtrl">
          <i class="close icon"></i>

          <div class="header">
            Add new Wysh from sites via URL
          </div>
          <div class="content">
            <form class="ui form">
              <div class="field">
                <label>URL</label>
                <div class="ui left input">
                  <input type="text" placeholder="http://..." name="url">
                </div>
              </div>

              <input type="submit" class="ui blue submit button" name="" value="Wysh">
              <div class="ui error message"></div>
            </form>
          </div>
        </div>

      </div>

      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
